## The Subscription Seer

#### Setup or Importing Libraries

In [1]:
import tensorflow as tf
import keras
from keras.utils import FeatureSpace
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

#### Load the Data

In [3]:
df = pd.read_csv('bank.csv')

## DF properties

#### Preview

In [4]:
df.head()

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,1,39,services,single,high.school,no,no,no,telephone,may,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,2,25,services,married,high.school,no,yes,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,4,47,admin.,married,university.degree,no,yes,no,cellular,nov,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

#### Shape

In [5]:
df.shape

(4119, 22)

#### Columns

In [6]:
df.columns

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

#### Info

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      4119 non-null   int64
 1   age             4119 non-null   int64
 2   job             4119 non-null   object
 3   marital         4119 non-null   object
 4   education       4119 non-null   object
 5   default         4119 non-null   object
 6   housing         4119 non-null   object
 7   loan            4119 non-null   object
 8   contact         4119 non-null   object
 9   month           4119 non-null   object
 10  day_of_week     4119 non-null   object
 11  duration        4119 non-null   int64
 12  campaign        4119 non-null   int64
 13  pdays           4119 non-null   int64
 14  previous        4119 non-null   int64
 15  poutcome        4119 non-null   object
 16  emp.var.rate    4119 non-null   float64
 17  cons.price.idx  4119 non-null   float64
 18  cons.conf.idx   4119 non-null   float64
 19  euribor3m       4119 non-null   float64
 20  nr.employed     4119 non-null   float64
 21  y               4119 non-null   object
dtypes: float64(5), int64(6), object(11)
memory usage: 708.1+ KB

#### Correlation

In [8]:
df.corr(numeric_only=True)

,Unnamed: 0,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
Unnamed: 0,1.000000,0.030971,0.012072,-0.000211,0.000781,-0.008499,-0.017758,-0.033435,0.031584,-0.003764,0.003782
age,0.030971,1.000000,0.041299,-0.014169,-0.043425,0.050931,-0.019192,-0.000482,0.098135,-0.015033,-0.041936
duration,0.012072,0.041299,1.000000,-0.085348,-0.046998,0.025724,-0.028848,0.016672,-0.034745,-0.032329,-0.044218
campaign,-0.000211,-0.014169,-0.085348,1.000000,0.058742,-0.091490,0.176079,0.145021,0.007882,0.159435,0.161037
pdays,0.000781,-0.043425,-0.046998,0.058742,1.000000,-0.587941,0.270684,0.058472,-0.092090,0.301478,0.381983
previous,-0.008499,0.050931,0.025724,-0.091490,-0.587941,1.000000,-0.415238,-0.164922,-0.051420,-0.458851,-0.514853
emp.var.rate,-0.017758,-0.019192,-0.028848,0.176079,0.270684,-0.415238,1.000000,0.755155,0.195022,0.970308,0.897173
cons.price.idx,-0.033435,-0.000482,0.016672,0.145021,0.058472,-0.164922,0.755155,1.000000,0.045835,0.657159,0.472560
cons.conf.idx,0.031584,0.098135,-0.034745,0.007882,-0.092090,-0.051420,0.195022,0.045835,1.000000,0.276595,0.107054
euribor3m,-0.003764,-0.015033,-0.032329,0.159435,0.301478,-0.458851,0.970308,0.657159,0.276595,1.000000,0.942589
nr.employed,0.003782,-0.041936,-0.044218,0.161037,0.381983,-0.514853,0.897173,0.472560,0.107054,0.942589,1.000000

#### Description

In [9]:
df.describe()

,Unnamed: 0,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000
mean,2059.000000,40.113620,256.788055,2.537266,960.422190,0.190337,0.084972,93.579704,-40.499102,3.621356,5166.481695
std,1189.197208,10.313362,254.703736,2.568159,191.922786,0.541788,1.563114,0.579349,4.594578,1.733591,73.667904
min,0.000000,18.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.635000,4963.600000
25%,1029.500000,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000
50%,2059.000000,38.000000,181.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,3088.500000,47.000000,317.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,4118.000000,88.000000,3643.000000,35.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

#### Unique Values

In [10]:
categorical_cols = df.select_dtypes(include='object').columns

for i in categorical_cols:
    print(f'{i}: {df[i].unique()}\n')

job: ['blue-collar' 'services' 'admin.' 'entrepreneur' 'self-employed'
 'technician' 'management' 'student' 'retired' 'housemaid' 'unemployed'
 'unknown']

marital: ['married' 'single' 'divorced' 'unknown']

education: ['basic.9y' 'high.school' 'university.degree' 'professional.course'
 'basic.6y' 'basic.4y' 'unknown' 'illiterate']

default: ['no' 'unknown' 'yes']

housing: ['yes' 'no' 'unknown']

loan: ['no' 'unknown' 'yes']

contact: ['cellular' 'telephone']

month: ['may' 'jun' 'nov' 'sep' 'jul' 'aug' 'mar' 'oct' 'apr' 'dec']

day_of_week: ['fri' 'wed' 'mon' 'thu' 'tue']

poutcome: ['nonexistent' 'failure' 'success']

y: ['no' 'yes']

In [11]:
numerical_cols = df.select_dtypes(include='number').columns

for i in numerical_cols:
    print(f'{i}: {df[i].unique()}\n')

Unnamed: 0: [   0    1    2 ... 4116 4117 4118]

age: [30 39 25 38 47 32 41 31 35 36 29 27 44 46 45 50 55 40 28 34 33 51 48 20
 76 56 24 58 60 37 52 42 49 54 59 57 43 53 75 82 71 21 22 23 26 81 61 67
 73 18 64 74 77 86 85 63 88 78 72 68 80 66 19 62 65 69 70]

duration: [ 487  346  227   17   58  128  290   44   68  170  301  148   97  211
  553  698  191   59   38  849  326  222  626  119  388  479  446  127
  109  113  393  151  256   42  525   57  499   84  137   31  430  126
  340  412  132   79  341  157  252  263  215   89  143   40   10  481
  233  204  403  180   16  447   81  361 1091  395  432  596   77  768
   96  357  459   11  264   93  374  158   95  835  505  300  390  274
  135  257  268  477   91   76  103  436  483  250  259  389    7  123
   92  297  406  104  854  147  203  149  144  394  523   73  197  108
   80  114  122 1161  181  239  360  314  984  663  141  706  797  311
   63  111   49  171  242  279  246  309  168  153  152   90  117  640
  199 1114   74  190  738  224  344  383   35  772  124  345  951  188
  809  192  154  100  317  293   30  442  187   64  629  423  888  207
  265  273   85  261  136  711   88   72  307   39  156  202  353  159
  347  174  280  686   94  225  474  377  185  121  160  313  219  267
  228  355  102  116   83  473  605  585  255 1868  846  404   51   87
  167  440  673   48  236  288  193  318  209  173  503  101  370 1207
  262  609  806  335  266  434   82   15  155  339  206  178  461   50
   56   55  142    9  247  130  336  424  617  238  632   86  165  212
   54  184    6   70   98  106  456  118  241  439  322  417  498  405
   99  712  112  223  133  258  958  898  282  175  235  372   69  183
  270  134  449  115  205  145  548  379  105  544  401  549  291  655
  179  391  750  454   23  363  775  164  988  471  385  125  886   34
  334  955  545  659  230  699 1276  251   25  696  701  342  161  275
  172  139  232  131   36  600  177  217  216  329  604  634  107  245
  690  286  201  198  249  226 1058  299  441  285  195  292  298 1013
  248 1319  146  294  575  237  861  618  271  200  166  367  218  584
  509   27   78  162  651  415 1149  110  240  366  284  431  608  244
  455  807  420  182  638  641   21 1348  324  331  550  489  304  189
  728  278  387   29   71  767 1476  176   52  150   32   12  501  381
  482   14  569  697  581  243  229  408   53  305  316  577  427  214
   19   65  281  468   67  438  582  721  295  231  221 1170  368 1360
  433  352   37  650  289  213   22   43   26  532   75  557  541   62
    5  941  422  319  653  397 1447  999  321 1143  667 1132   60  396
  194 1068  337  400  140  409  208   13  458  713  820  310  587  320
  566  748  599  411 1185  398  169  272   66  679    8   18  497 1065
  276  716   20  760  253  551  675   46  484  333  369  464  362  997
  287  649  470  762  591  758 1551  480  869   61  129  979  630  234
  354  502  451  296  407  120  754  589   41  514  919  530  595  526
  494   24 1353  332 1234  687  428  488  486  413  892  452  614  749
 1327   28   47  677  643 2653  302  570  938  260  901  138  590  546
  371  312  163  328  722  323  611  539  359  671  781 1005  303  343
  418   45  419 1148  349 3253  606  894  813  891  210 1067  543  382
  492 1183  903    4  375 1628  840 1167  386  868  327  485  506  351
  315  529 1720  533  429  766  616 1130  747  496 2301  460  220  776
  568  448  186  534 1334 1138 1019  364 1090  857  269  637  536  475
  453  330  338  764  873 1176  384   33  602  476    0  689  718  796
  662  799  715  633  348 1014  700 1045 1152  725  358  196  493  254
  742  504 1092  399  952  426  457 3643 1105  838  829  565  644  771
  513  646  356  693  592  628  556  769 1111  843  668  848  855  517
  992  619  867 1441  665 1171  542  607  800 1150 1855 1203  723  308
  823 1076  837  780  789 1002  578  507  508  567  421 1241  373  571
  469  527  588  645 1221  704  378 1127  818 1062  562  825  435  802
  531  306  739  365  325 1432 1806 1046  674  740 1119  636 1357  414
  727 1009  283 1011  511 1186  402  519  490  683  688 1340  472  882
  520  515 1332 1820 1311  559 1365 1980  410  895 1190  784  376  521
  834  450 1128  516  770 1074 1259 1422 1300 1135  624  540  657  627
  681  491  705  597 1298 1438  277 1087  782  416 1288 1424  720  726
  537  996  815  805 1468  801  495  463  814  350  702  623  980 1195
  478  881  445  658  528  522 1012 1590  621 1602  757  593  879  580
  620 1386]

campaign: [ 2  4  1  3  6  7 27  5 12 14 10  8 11 13  9 15 16 18 17 22 19 23 24 35
 29]

pdays: [999  12   3   6   5   2  10  11   7   1  18   4  15   0  16   9  19  17
  13  21  14]

previous: [0 2 1 3 5 4 6]

emp.var.rate: [-1.8  1.1  1.4 -0.1 -1.1 -2.9 -1.7 -3.4 -3.  -0.2]

cons.price.idx: [92.893 93.994 94.465 93.2   94.199 93.918 93.444 93.369 92.843 92.963
 94.601 94.027 92.379 92.431 93.749 93.075 94.055 92.469 94.767 92.201
 92.649 94.215 93.876 93.798 92.713 92.756]

cons.conf.idx: [-46.2 -36.4 -41.8 -42.  -37.5 -42.7 -36.1 -34.8 -50.  -40.8 -49.5 -38.3
 -29.8 -26.9 -34.6 -47.1 -39.8 -33.6 -50.8 -31.4 -30.1 -40.3 -40.  -40.4
 -33.  -45.9]

euribor3m: [1.313 4.855 4.962 4.959 4.191 0.884 0.879 4.153 4.958 4.968 4.859 4.963
 4.957 4.965 4.961 0.639 4.967 4.864 4.856 1.299 4.86  1.687 4.865 1.268
 4.12  1.334 0.977 1.344 0.899 1.327 4.592 4.97  1.26  4.966 0.77  4.866
 4.964 4.857 0.886 0.739 0.654 1.405 1.281 4.96  0.754 1.291 1.365 4.076
 1.266 1.41  1.25  4.858 0.702 1.029 1.085 1.392 1.262 1.05  0.851 0.716
 0.877 0.835 1.048 0.904 1.028 0.637 1.244 1.354 4.021 1.453 0.715 1.778
 0.773 1.035 0.9   0.898 0.742 0.861 1.264 0.704 1.27  0.695 1.039 1.531
 0.883 0.748 0.809 4.794 1.479 0.697 0.959 1.032 0.896 0.827 1.483 0.905
 1.466 0.714 0.644 0.849 0.881 0.834 0.645 0.659 0.885 1.041 0.942 0.737
 4.947 0.722 1.049 1.415 0.797 0.699 0.81  0.71  1.423 0.707 0.646 1.043
 4.955 0.668 0.825 1.435 0.72  0.767 0.982 1.602 1.259 1.811 0.859 1.224
 0.876 0.878 1.099 0.788 0.717 0.838 0.64  0.762 1.663 0.73  0.728 1.372
 0.782 4.245 1.51  3.329 0.749 4.343 0.893 0.731 0.635 0.7   0.889 0.649
 0.873 1.445 1.629 0.944 3.853 0.87  0.79  5.045 0.914 0.719 0.735 1.498
 0.677 0.819 0.652 0.692 0.829 1.726 1.406 0.761 0.846 1.252 4.956 0.953
 0.803 0.937 0.706 0.869 1.703 0.729 0.709 1.046 0.752 0.921 4.921 0.987
 1.03  1.031 0.741 0.843 1.044 0.643 0.755 0.724 0.882 1.757 1.215 0.74
 0.683 1.52  4.663 1.059 0.636 0.771 0.655 1.4   0.65  1.384 0.778 0.682
 1.614 1.04  1.538 1.072 1.    1.799 1.64  1.65  0.642 0.718 0.768 0.723
 0.996 0.721 0.672 0.854 1.016 0.965]

nr.employed: [5099.1 5191.  5228.1 5195.8 4963.6 5008.7 5076.2 4991.6 5017.5 5023.5
 5176.3]

## Data Cleaning

#### Drop duration to avoid target leak

In [12]:
df.drop(columns=['duration', 'Unnamed: 0'], inplace=True)

#### Removing unknown values

In [13]:
columns = ['job', 'marital', 'education', 'default', 'housing', 'loan']

for col in columns:
    unique_vals = df[col].unique()
    unique_vals = [value for value in unique_vals if value != 'unknown']
    df[col] = df[col].apply(lambda x: np.random.choice(unique_vals) if x == 'unknown' else x)

#### Creating new 'previously_contacted' feature

In [14]:
df['previously_contacted'] = df['pdays'].map(lambda x: 0 if x == 999 else 1)

In [15]:
df.shape

(4119, 21)

In [16]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,previously_contacted
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no,0
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no,0
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no,0
3,38,services,married,basic.9y,no,no,yes,telephone,jun,fri,...,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no,0
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no,0

In [17]:
df.to_csv('cleaned_bank.csv')

## Data Splitting

In [18]:
validation_df = df.sample(frac=0.2, random_state=0)
train_df = df.drop(validation_df.index)

In [19]:
train_df.shape, validation_df.shape

((3295, 21), (824, 21))

## Generating Tf Datasets

In [20]:
label_lookup = keras.layers.StringLookup(
    vocabulary=['no', 'yes'],
    num_oov_indices=0,
)

In [21]:
def encode_label(x, y):
    encoded_y = label_lookup(y)
    return x, encoded_y

def df_to_ds(df):
    df = df.copy()
    labels = df.pop('y')
    ds = tf.data.Dataset.from_tensor_slices((dict(df), labels))
    ds = ds.map(encode_label, num_parallel_calls=tf.data.AUTOTUNE)
    ds = ds.shuffle(buffer_size=len(df))
    return ds

In [22]:
train_ds = df_to_ds(train_df)
valid_ds = df_to_ds(validation_df)

#### Preview

In [23]:
for x, y in df_to_ds(train_df).take(1):
    print('Input: ', x)
    print()
    print('Target: ', y)

Input:  {'age': <tf.Tensor: shape=(), dtype=int64, numpy=37>, 'job': <tf.Tensor: shape=(), dtype=string, numpy=b'technician'>, 'marital': <tf.Tensor: shape=(), dtype=string, numpy=b'single'>, 'education': <tf.Tensor: shape=(), dtype=string, numpy=b'professional.course'>, 'default': <tf.Tensor: shape=(), dtype=string, numpy=b'no'>, 'housing': <tf.Tensor: shape=(), dtype=string, numpy=b'no'>, 'loan': <tf.Tensor: shape=(), dtype=string, numpy=b'yes'>, 'contact': <tf.Tensor: shape=(), dtype=string, numpy=b'telephone'>, 'month': <tf.Tensor: shape=(), dtype=string, numpy=b'jun'>, 'day_of_week': <tf.Tensor: shape=(), dtype=string, numpy=b'mon'>, 'campaign': <tf.Tensor: shape=(), dtype=int64, numpy=4>, 'pdays': <tf.Tensor: shape=(), dtype=int64, numpy=999>, 'previous': <tf.Tensor: shape=(), dtype=int64, numpy=0>, 'poutcome': <tf.Tensor: shape=(), dtype=string, numpy=b'nonexistent'>, 'emp.var.rate': <tf.Tensor: shape=(), dtype=float64, numpy=1.4>, 'cons.price.idx': <tf.Tensor: shape=(), dtype=float64, numpy=94.465>, 'cons.conf.idx': <tf.Tensor: shape=(), dtype=float64, numpy=-41.8>, 'euribor3m': <tf.Tensor: shape=(), dtype=float64, numpy=4.865>, 'nr.employed': <tf.Tensor: shape=(), dtype=float64, numpy=5228.1>, 'previously_contacted': <tf.Tensor: shape=(), dtype=int64, numpy=0>}

Target:  tf.Tensor(0, shape=(), dtype=int64)

## Feature Space

#### Removing labels

In [24]:
train_ds_with_no_labels = train_ds.map(lambda x, _: x)

#### Configuring FeatureSpace

In [25]:
feature_space = FeatureSpace(
    features={
        # categorical features encoded as integers
        'previously_contacted': FeatureSpace.integer_categorical(num_oov_indices=0),
        
        # categorical features encoded as string
        'marital': FeatureSpace.string_categorical(num_oov_indices=0),
        'education': FeatureSpace.string_categorical(num_oov_indices=0),
        'default': FeatureSpace.string_categorical(num_oov_indices=0),
        'housing': FeatureSpace.string_categorical(num_oov_indices=0),
        'loan': FeatureSpace.string_categorical(num_oov_indices=0),
        'contact': FeatureSpace.string_categorical(num_oov_indices=0),
        'month': FeatureSpace.string_categorical(num_oov_indices=0),
        'day_of_week': FeatureSpace.string_categorical(num_oov_indices=0),
        'poutcome': FeatureSpace.string_categorical(num_oov_indices=0),

        # categorical features to hash and bin
        'job': FeatureSpace.string_hashed(num_bins=3),

        # Numerical features to hash and bin
        'pdays': FeatureSpace.integer_hashed(num_bins=4),

        # Numerical features to normalize and bin
        'age': FeatureSpace.float_discretized(num_bins=4),

        # Numerical features to normalize
        'campaign': FeatureSpace.float_normalized(),
        'previous': FeatureSpace.float_normalized(),
        'emp.var.rate': FeatureSpace.float_normalized(),
        'cons.price.idx': FeatureSpace.float_normalized(),
        'cons.conf.idx': FeatureSpace.float_normalized(),
        'euribor3m': FeatureSpace.float_normalized(),
        'nr.employed': FeatureSpace.float_normalized()
    },

    crosses=[
        FeatureSpace.cross(feature_names=('age', 'job'), crossing_dim=8),
        FeatureSpace.cross(feature_names=('housing', 'loan'), crossing_dim=6),
        FeatureSpace.cross(
            feature_names=('poutcome', 'previously_contacted'), crossing_dim=2
        ),
    ],
    output_mode='concat',
)

#### Batching

In [26]:
train_ds = train_ds.batch(32)
valid_ds = valid_ds.batch(32)

#### Adapt the FeatureSpace

In [27]:
feature_space.adapt(train_ds_with_no_labels)

WARNING:tensorflow:From C:\Users\Madhavz\anaconda3\Lib\site-packages\keras\src\backend\tensorflow\core.py:222: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

## Data Preprocessing

In [28]:
preprocessed_train_ds = train_ds.map(
    lambda x, y: (feature_space(x), y), num_parallel_calls=tf.data.AUTOTUNE
).prefetch(tf.data.AUTOTUNE)

preprocessed_valid_ds = valid_ds.map(
    lambda x, y: (feature_space(x), y), num_parallel_calls=tf.data.AUTOTUNE
).prefetch(tf.data.AUTOTUNE)

## Model Building

#### Raw and Encoded Features

In [29]:
dict_inputs = feature_space.get_inputs()
encoded_features = feature_space.get_encoded_features()

#### Layers

In [30]:
x = keras.layers.Dense(64, activation='relu')(encoded_features)
x = keras.layers.Dropout(0.5)(x)
output = keras.layers.Dense(1, activation='sigmoid')(x)

#### Model Compilation

In [31]:
model = keras.Model(inputs=encoded_features, outputs=output)
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

#### Fitting

In [32]:
model.fit(
    preprocessed_train_ds,
    validation_data=preprocessed_valid_ds,
    epochs=20,
    verbose=2
)

Epoch 1/20
103/103 - 2s - 16ms/step - accuracy: 0.8634 - loss: 0.3673 - val_accuracy: 0.9029 - val_loss: 0.2742
Epoch 2/20
103/103 - 1s - 6ms/step - accuracy: 0.8968 - loss: 0.2974 - val_accuracy: 0.9090 - val_loss: 0.2651
Epoch 3/20
103/103 - 1s - 6ms/step - accuracy: 0.9002 - loss: 0.2976 - val_accuracy: 0.9090 - val_loss: 0.2645
Epoch 4/20
103/103 - 1s - 6ms/step - accuracy: 0.8944 - loss: 0.2949 - val_accuracy: 0.9114 - val_loss: 0.2627
Epoch 5/20
103/103 - 1s - 6ms/step - accuracy: 0.9008 - loss: 0.2890 - val_accuracy: 0.9090 - val_loss: 0.2633
Epoch 6/20
103/103 - 1s - 6ms/step - accuracy: 0.8980 - loss: 0.2879 - val_accuracy: 0.9090 - val_loss: 0.2631
Epoch 7/20
103/103 - 1s - 6ms/step - accuracy: 0.9011 - loss: 0.2810 - val_accuracy: 0.9114 - val_loss: 0.2636
Epoch 8/20
103/103 - 1s - 6ms/step - accuracy: 0.8986 - loss: 0.2803 - val_accuracy: 0.9066 - val_loss: 0.2685
Epoch 9/20
103/103 - 1s - 6ms/step - accuracy: 0.9020 - loss: 0.2783 - val_accuracy: 0.9078 - val_loss: 0.2664
Epoch 10/20
103/103 - 1s - 6ms/step - accuracy: 0.8992 - loss: 0.2794 - val_accuracy: 0.9090 - val_loss: 0.2646
Epoch 11/20
103/103 - 1s - 7ms/step - accuracy: 0.9002 - loss: 0.2770 - val_accuracy: 0.9078 - val_loss: 0.2649
Epoch 12/20
103/103 - 1s - 7ms/step - accuracy: 0.9065 - loss: 0.2795 - val_accuracy: 0.9066 - val_loss: 0.2661
Epoch 13/20
103/103 - 1s - 6ms/step - accuracy: 0.9053 - loss: 0.2727 - val_accuracy: 0.9053 - val_loss: 0.2673
Epoch 14/20
103/103 - 1s - 6ms/step - accuracy: 0.9068 - loss: 0.2730 - val_accuracy: 0.9053 - val_loss: 0.2699
Epoch 15/20
103/103 - 1s - 7ms/step - accuracy: 0.9071 - loss: 0.2732 - val_accuracy: 0.9041 - val_loss: 0.2676
Epoch 16/20
103/103 - 1s - 6ms/step - accuracy: 0.9056 - loss: 0.2733 - val_accuracy: 0.9066 - val_loss: 0.2667
Epoch 17/20
103/103 - 1s - 6ms/step - accuracy: 0.9080 - loss: 0.2660 - val_accuracy: 0.9053 - val_loss: 0.2659
Epoch 18/20
103/103 - 1s - 7ms/step - accuracy: 0.9065 - loss: 0.2639 - val_accuracy: 0.9053 - val_loss: 0.2680
Epoch 19/20
103/103 - 1s - 6ms/step - accuracy: 0.9041 - loss: 0.2633 - val_accuracy: 0.9029 - val_loss: 0.2681
Epoch 20/20
103/103 - 1s - 8ms/step - accuracy: 0.9041 - loss: 0.2712 - val_accuracy: 0.9114 - val_loss: 0.2661

#### Inference Model

In [33]:
inference_model = keras.Model(inputs=dict_inputs, outputs=output)

#### Save the model

In [34]:
inference_model.save('inference_model.keras')

## Prediction

In [35]:
sample = {
    "age": 30,
    "job": "blue-collar",
    "marital": "married",
    "education": "basic.9y",
    "default": "no",
    "housing": "yes",
    "loan": "no",
    "contact": "cellular",
    "month": "may",
    "day_of_week": "fri",
    "campaign": 2,
    "pdays": 999,
    "previous": 0,
    "poutcome": "nonexistent",
    "emp.var.rate": -1.8,
    "cons.price.idx": 92.893,
    "cons.conf.idx": -46.2,
    "euribor3m": 1.313,
    "nr.employed": 5099.1,
    "previously_contacted": 0,
}

input_dict = {
    name: keras.ops.convert_to_tensor([value]) for name, value in sample.items()
}
predictions = inference_model.predict(input_dict)

print(
    f"This particular client has a {100 * predictions[0][0]:.2f}% probability "
    "of subscribing a term deposit, as evaluated by our model."
)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 367ms/step
This particular client has a 8.39% probability of subscribing a term deposit, as evaluated by our model.